@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyCustomFont';
    src: url('/frontend/public/fonts/gt-super-400-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }